<%= link_to 'New prediction', new_prediction_path, class: 'btn btn-default' %>

<hr>

<table class="table table-hover">
  <tr>
    <th>Station</th>
    <th>Valid at</th>
    <th>Available bikes</th>
    <th>Available stands</th>
    <th>Bikes deviation</th>
    <th>Stands deviation</th>
    <th></th>
    <th></th>
  </tr>

  <% predictions.each do |prediction| %>
    <tr>
      <td><%= link_to prediction.station.name, station_path(prediction.station) %></td>
      <td><%= prediction.valid_at %></td>
      <td><%= prediction.available_bikes %></td>
      <td><%= prediction.available_stands %></td>
      <td><%= prediction.bikes_deviation %></td>
      <td><%= prediction.stands_deviation %></td>
      <td><%= link_to 'Show', prediction_path(prediction) %></td>
      <td><%= link_to 'Evaluate', evaluate_prediction_path(prediction), method: :patch if prediction.evaluable? %></td>
    </tr>
  <% end%>
</table>
