<div class="container">

  <div class="row">

    <h1>Prediction</h1>

    <h2>General information</h2>

    <table class="table table-hover">
      <tr>
        <td>Station</td>
        <td><%= link_to @prediction.station.name, station_path(@prediction.station) %></td>
      </tr>
      <tr>
        <td>Creation time</td>
        <td><%= @prediction.created_at %></td>
      </tr>
      <tr>
        <td>Valid at</td>
        <td><%= @prediction.valid_at %></td>
      </tr>
      <tr>
        <td>Estimated available bikes</td>
        <td><%= @prediction.available_bikes.round(1) %></td>
      </tr>
      <tr>
        <td>Estimated available stands</td>
        <td><%= @prediction.available_stands.round(1) %></td>
      </tr>
    </table>

    <h2>Evaluation</h2>

    <table class="table table-hover">
      <tr>
        <td>Evaluated</td>
        <td>
          <%= @prediction.evaluated? %>
          <%= link_to 'Evaluate', evaluate_prediction_path(@prediction), method: :patch, class: 'btn btn-success' if @prediction.evaluable? %>
        </td>
      </tr>
      <tr>
        <td>Bikes deviation</td>
        <td><%= @prediction.bikes_deviation&.round(1) %></td>
      </tr>
      <tr>
        <td>Stands deviation</td>
        <td><%= @prediction.stands_deviation&.round(1) %></td>
      </tr>
    </table>

    <%= link_to 'Back', predictions_path, class: 'btn btn-default' %>

  </div>
</div>
