<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Don't get lost without a bike, predict how many bikes will be available!</p>

    <%= link_to 'New prediction', new_prediction_path, class: 'btn btn-default' %>

  </div>
</div>

<div class="container">

  <div class="row">
    <h2>Velib stations</h2>

    <div id="home-map"></div>

  </div>
</div>

<div class="container">

  <div class="row">
    <h2>Recent predictions</h2>

    <%= render 'predictions/predictions', predictions: @predictions %>
    <%= link_to 'More predictions', predictions_path, class: 'btn btn-default' %>
  </div>
</div>


<% content_for :javascript do %>
  var stationsMap = L.map('home-map').setView([48.8596,2.3386], 13);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=<%= ENV['MAPBOX_ACCESS_TOKEN'] %>', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets'
  }).addTo(stationsMap);

  var stations = <%= raw @stations.as_json(only: [:id,:name, :latitude, :longitude]).to_json %>;
  var icon = L.icon({ iconUrl: '<%= asset_path("leaflet/dist/images/marker-icon.png") %>' });

  for(var station of stations) {
    var popupContent = '<a href="/stations/' + station.id + '">' + station.name + '</a>';
    L.marker([station.latitude, station.longitude], { icon: icon })
      .bindPopup(popupContent)
      .addTo(stationsMap);
  };

<% end %>
