<!DOCTYPE html>
<html>
  <head>
    <title>Cycling Pizza</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      <%= yield :javascript %>
    </script>
  </body>
</html>
